<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<style>
	.head1 {
            font-size:40px;
            color:#009900;
            font-weight:bold;
        }
        .head2 {
            font-size:17px;
            margin-left:10px;
            margin-bottom:15px;
        }
        body {
            margin: 0 auto;
            background-position:center;
            background-size: contain;
        }
				img {
							border: 1px solid #ddd;
							border-radius: 4px;
							padding: 5px;
							width: 1250px;
							height: 100px
						}

        footer {
            width: 100%;
            bottom: 0px;
            background-color: #000;
            color: #fff;
            position: absolute;
            padding-top:20px;
            padding-bottom:50px;
            text-align:center;
            font-size:30px;
            font-weight:bold;
        }
        .body_sec {
            margin-left:20px;
        }
</style>
</head>
<body>

<!-- Header Section -->
    <header>
        <div class="head1" align="center">GeeksforGeeks</div>
        <div class="head2" align="center">A computer science portal for geeks</div>
    </header>

    <!-- Menu Navigation Bar
    <div class="menu">
        <a href="#home">HOME</a>
        <a href="#news">NEWS</a>
        <a href="#notification">NOTIFICATIONS</a>
        <div class="menu-log">
            <a href="#login">LOGIN</a>
        </div>
    </div> -->
		<img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190718111403/Screenshot-from-2019-07-18-11-12-29.png" alt = "Image">

    <!-- Body section -->
    <div class = "body_sec">
        <section id="Content">
            <p>My name is Komal Amit Mhetre. This is homepage. My first rails application. I am new to ruby on rails. I want to built innovative applications. I UDEMY course of ruby on rails : developers guide. Its fun to learn from udemy. its really amazing website to learn. </p>
        </section>
    </div>

    <!-- Footer Section -->
    <footer>Footer Section</footer>
</body>
</html>


<%= link_to 'About page' , about_path %>
